@model Pitangueira.Model.Entities.Atendimento_

@{
    ViewData["Title"] = "Detalhes";
}



<div class="row justify-content-center">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index">Voltar</a></li>
        <li class="breadcrumb-item active">Detalhes</li>
    </ol>
    <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Detalhes</h3></div>
            <div class="card-body">
                <div>
                    <h4 class="col-md-12 text-center">Ticket de Atendimento  #@Html.DisplayFor(model => model.Id)</h4>
                    <hr />
                    <dl class="row text-center">
                        <dt class="col-md-12">
                            @Html.DisplayNameFor(model => model.DataExecucao)
                        </dt>
                        <dd class="col-md-12">
                            @Html.DisplayFor(model => model.DataExecucao)
                        </dd>
                        <dt class="col-md-12">
                            @Html.DisplayNameFor(model => model.TipoAtendimentoId)
                        </dt>
                        <dd class="col-md-12">
                            @Html.DisplayFor(model => model.TipoAtendimento.Name)
                        </dd>
                        <dt class="col-md-12">
                            @Html.DisplayNameFor(model => model.Cliente)
                        </dt>
                        <dd class="col-md-12">
                            @Html.DisplayFor(model => model.Cliente.Name)
                        </dd>
                        <dt class="col-md-12">
                            @Html.DisplayNameFor(model => model.UsuarioId)
                        </dt>
                        <dd class="col-md-12">
                            @Html.DisplayFor(model => model.Usuario.Nome)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>


