@model IEnumerable<Pitangueira.Model.Entities.Atendimento_>

@{
    ViewData["Title"] = "Index";
}

<h1>Atendimentos realizados</h1>

<p>
    <a asp-action="Create">Novo Atendimento</a>
</p>
<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataExecucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoAtendimentoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacao)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-light">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataExecucao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAtendimento.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacao)
                </td>
                @if (User.IsInRole("Gestor"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
